{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": 0,
    "react/sort-comp": 0,
    "react/no-multi-comp": 0,
    "react/prop-types": 0
  }
}