{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true,
    "es6": true,
    "jsx": true
  },
  "rules": {
  },
  "plugins": [
    "react"
  ]
}