body {
  color: #333;
}

pre {
  background-color: transparent;
  border: 0;  
  padding: 0px;
}

.header {
  border-bottom: 1px solid #eee;
}

.repo-link { 
  padding: 40px 0 0 0;
}

.CodeMirror {
  font-family: Menlo, monospace;
  font-size: 13px;
  line-height: 1.5;
  height: 350px;
  padding: 10px 10px;
  background: #fff8ed;
  border: 1px solid #f6e4cc;
}

#preview {
  margin-bottom: 40px;
  background-color: #f9f9f9;
  padding: 20px;
}

#html {
  font-size: 11px;
}

#examplesGroup .list-group-item:hover {
  cursor: pointer;
  background-color: #d9edf7;
}

#examplesGroup .list-group-item.selected {
  cursor: default;
  font-weight: bold;
}

#examplesGroup .list-group-item.selected:hover {
  background-color: #fff;
}

